extends layout

block head
  title Zone Successful Certificate Exchange

block content
  script(type='text/javascript')
    setTimeout(function() {
    window.location.href = "#{externalPzhUrl}";
    }, 10000);
  div(data-role="content")
    h3(style="clear:both;") Success!
    p A friend request has been sent to #{user}'s zone.
    p Once #{user} has approved your request you will be able to access their zone.
    p You will shortly be redirected back to your zone, or click&nbsp;
      a(href="#{externalPzhUrl}") here 
      |to go now.
