!!! 5
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/js/jquery/jquery.mobile-1.2.0.min.css')
    link(rel="stylesheet",href="/css/ubitaxi-booking.css")
    script(src='/js/jquery/jquery-1.8.2.min.js')
    script(type='text/javascript')
      // Set up some jqm defaults.
      $(document).on("mobileinit", function(){
      $.mobile.popup.prototype.options.history = false;
      $.mobile.defaultPageTransition = "flip";
      $.mobile.page.prototype.options.headerTheme = "a";
      $.mobile.page.prototype.options.contentTheme    = "e";
      $.mobile.page.prototype.options.footerTheme = "a";
      });
    script(src='/js/jquery/jquery.mobile-1.2.0.min.js')
    script(src="/js/validation/jquery.validate.js")
    script(type="text/javascript")
      $(function() {
        $("#bookingForm").validate();
        $("#time").on("blur", function() {
          var dt = new Date();
          var t = $("#time").val();
          dt.setHours(t.split(":")[0]);
          dt.setMinutes(t.split(":")[1]);
          $("#pickupTime").val(dt.toString());
        });
      });
    title UbiTaxi Booking
  body
    div(data-role='page')
      div(data-role='header')
          img.headerImg(src='/images/ubitaxi/ubitaxi-logo.png')
          .headerTitle
            a(rel='external', href='/ubitaxi/book') Book an UbiTaxi
      div(data-role='content', style="clear:both;")
        block content

      div(data-role='footer', data-position='fixed')
          .footerText &copy; 2013&nbsp;
            a(href='http://ubiapps.com', data-rel='external') ubiapps.com
