extends bookingLayout
block content
  ul(data-role="listview",style="padding-bottom: 15px;")
    li(data-role='navbar') Booking successful - thank you
    li
      a(href="/ubitaxi/book", rel="external") Make another booking