!!! 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/js/jquery/jquery.mobile-1.2.0.min.css')
    link(rel='stylesheet', href='/css/mobile-style.css')
    link(rel="stylesheet",href="/css/ubitaxi-style.css")
    script(src='/js/jquery/jquery-1.8.2.min.js')
    script
      $(document).on("mobileinit", function(){
        $.mobile.popup.prototype.options.history = false;
        $.mobile.defaultPageTransition = "none";
        $.mobile.page.prototype.options.headerTheme = "a";
        $.mobile.page.prototype.options.contentTheme    = "e";
        $.mobile.page.prototype.options.footerTheme = "a";
      });
    script(src='/js/jquery/jquery.mobile-1.2.0.min.js')
    script(src="/js/ubitaxi/ubitaxi-client.js")

  body
    div(data-role='page')
      div(data-role='header')
        h1 UbiTaxi
      block content