extends layout

block content
  div(data-role='content')
    ul(data-role='listview', data-inset='true', data-theme='b')
      li
        a(href='#') Invite a friend
      li
        a(href='#') Service Configuration
      li
        a(href='/#{user}/remote', data-transition="flip") Remote Management
      li
        a(href='#') Diagnostics
      li
        a(href='#') About
      li
        a(href="logout") Logout
  div(data-role='footer')
    span Copyright 2013 UbiApps
  