extends layout

block content
  div(data-role='content')
    ul(data-role='listview', data-inset='true', data-theme='b')
      li
        a(href='/nyi') Invite a friend
      li
        a(href='/nyi') Service Configuration
      li
        a(href='/remote', data-transition="flip") Remote Management
      li
        a(href='/nyi') Diagnostics
      li
        a(href='/nyi') About
      li
        a(href="logout") Logout
  