extends layout

block content
  div(data-role='content')
      ul(data-role='listview', data-inset='true', data-theme='b', data-theme="a", data-divider-theme="d")
        li(data-role="list-divider", role="heading") Apps installed on #{pzp}
        - if (widgetList.length > 0) {
          - for (var wgt in widgetList) {
          -   var name = widgetList[wgt].name ? widgetList[wgt].name.visual : widgetList[wgt].id;
              li
                a(href='/nyi',data-transition="slide") #{name}
          - }
        - } else {
            li no widgets installed
        - }
        li(data-role="list-divider", role="heading")
          a(class="dash-refresh",href="#", data-role="button", data-icon="refresh", data-iconpos="left", data-inline="true", data-mini="true") Refresh
  