extends layout

block content
  div(data-role='content')
    ul(data-role='listview', data-inset='true', data-theme='b')
      - for (var wgt in widgetList) {
      -   var name = widgetList[wgt].name ? widgetList[wgt].name.visual : widgetList[wgt].id;
          li
            a(href='#',data-transition="slide") #{name}
      - }
    a(class="dash-refresh",href="#", data-role="button", data-inline="true") refresh
  