extends layout

block content
  div(data-role='content')
      ul(data-role='listview', data-inset='true',data-theme='a', data-divider-theme='b')
        li(data-role='list-divider', role='heading')
          |Invite somebody from this farm
        - for (var p in pzhList) {
          - if (pzhList[p].url !== pzh) {
              li
                - if (typeof pzhList[p].username === "undefined" || pzhList[p].username === "undefined undefined") {
                    a(href='/connect-friend/#{pzhList[p].url}')= pzhList[p].url
                - } else {
                    a(href='/connect-friend/#{pzhList[p].url}', title='#{pzhList[p].url}')= pzhList[p].username
                - }
          - }
        - }
        li(data-role="list-divider", role="heading")
          a(class="dash-refresh",href="#", data-role="button", data-icon="refresh", data-iconpos="left", data-inline="true", data-mini="true") Refresh
      form
        ul(data-role='listview', data-inset='true',data-theme='a', data-divider-theme='b')
          li(data-role='list-divider', role='heading')
            |Invite somebody else
          li
            input(type='text', placeholder='pzh.acme.org/bob@example.com')
            input(type='submit',value='Invite',data-icon='arrow-r',data-iconpos='right',data-inline='true',style='float:right;')
