extends layout

block content
  div(data-role='content')
    p There was a problem...
    p !{error}
    a(href="#", data-rel="back", data-role="button", data-icon="arrow-r", data-iconpos="right", data-inline="true") continue