extends layout

block content
  div(data-role='content')
    - var counter = 0;
    ul(data-role='listview', data-inset='true', data-theme="a", data-divider-theme="b")
      li(data-role="list-divider", role="heading") Connected PZPs
      - for (var pzp in pzpList) {
          - if (pzpList[pzp].isConnected) {
            - counter++;
            li
              a(href='/pzp/#{pzpList[pzp].url}',data-transition="slide") #{pzpList[pzp].id}
          - }
      - }
      - if (counter === 0) {
          li none
      - }
    - if (counter !== pzpList.length) {
    ul(data-role='listview', data-inset='true', data-theme="a", data-divider-theme="b")
      li(data-role="list-divider", role="heading") Disconnected PZPs
      - for (var pzp in pzpList) {
          - if (!pzpList[pzp].isConnected) {
              li #{pzpList[pzp].url}
          - }
      - }
    - }
  