extends layout

block content
  div(data-role='content')
    p connected PZPs
    - var counter = 0;
    ul(data-role='listview', data-inset='true', data-theme='b')
      - for (var pzp in pzpList) {
          - if (pzpList[pzp].isConnected) {
            - counter++;
            li
              a(href='/pzp/#{pzpList[pzp].url}',data-transition="slide") #{pzpList[pzp].id}
          - }
      - }
      - if (counter === 0) {
          li none
      - }
    - if (counter !== pzpList.length) {
    p not connected PZPs
    ul(data-role='listview', data-inset='true', data-theme='b')
      - for (var pzp in pzpList) {
          - if (!pzpList[pzp].isConnected) {
              li #{pzpList[pzp].url}
          - }
      - }
    - }
  