extends layout

block content
  div(data-role='content')
    ul(data-role='listview', data-inset='true', data-theme='b')
      li
        a(href='/installed/#{pzh}/#{pzp}', data-transition="slide") Show Installed Widgets
      li
        a(href='/nyi', data-transition="slide") Install Widget
      li
        a(href='/nyi', data-transition="slide") Wipe
      li
        a(href='/nyi', data-transition="slide") Diagnostics
  