extends layout

block content
  div(data-role='content')
    ul(data-role='listview', data-inset='true', data-theme='b')
      - for (var pzh in pzhList) {
          li
            a(href='/#{user}/#{pzhList[pzh].url}/pzh',data-transition="flip") #{pzhList[pzh].url}
      - }
  div(data-role='footer')
    span Copyright 2013 UbiApps
  