extends layout

block content
  div(data-role='content')
    p connected PZHs
    ul(data-role='listview', data-inset='true', data-theme='b')
      - for (var pzh in pzhList) {
          li
            a(href='/pzh/#{pzhList[pzh].url}',data-transition="slide") #{pzhList[pzh].url}
      - }
  