body {
    color:white;
    text-shadow:none;
    background-color: #2b2b2b;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 14px;
}

.ui-layout-north {
    background-image:url(/images/desktop/iot-bg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
}

#login-choice {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.dash-refresh {
}

/*
  Navigator tree
*/
.navigator {
    font-family: "Lucida Console","Courier New","sans-serif";
    font-size: .8em;
}

.navigator a {
    color: #efefef;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
}

.navigator a:hover {
    color: lightblue;
    text-decoration: underline;
}

.navigator img {
    vertical-align: middle;
}

.navigator ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tree-root {
    margin-left: -10px;
}

.tree-branch{
}

.tree-node {
    padding-left: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tree-leaf {
    padding-left: 30px;
}

.tree-expander {
    padding-right: 4px;
}

.folder-tree-item {
    background-image: url("/images/desktop/folder.png");
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 20px;
}

.zone-tree-item {
    background-image: url("/images/desktop/folder.png");
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 20px;
}

.device-tree-item {
    background-image: url("/images/desktop/device.png");
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 20px;
}

.service-tree-item {
    background-image: url("/images/desktop/service.png");
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 20px;
}

.app-tree-item {
    background-image: url("/images/desktop/app.png");
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 20px;
}

/*
  Menu
*/
.menu {
    float: right;
    margin-left: 300px;
    background-color: #2b2b2b;
    border: 1px solid #3b3b3b;
    font-size: .8em;
}

.menuItem {
    float: left;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menuItem:hover {
    background-color: #0d5cd2;
}

.menuItem a {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

/*
  Console
*/
#console {
    font-family: "Lucida Console","Courier New","sans-serif";
    font-size: .65em;
    white-space: nowrap;
    padding-left: 2px;
    padding-top: 2px;
}

.logEntry span {
    color: #d3d3d3;
}

.log-severity-info {
    color: green;
}

.log-severity-warn {
    color: orange;
}

.log-severity-error {
     color: red;
 }

.log-severity-browser {
    color: #d3d3d3;
}