html, body {
    background-color: black;
    height: 100%;
    font-size: 10px;
}

.ui-btn-text, .ui-li-divider, input.ui-input-text {
    font-size: 12px;
}

@media screen and (min-width: 800px) {
  .content-panel {
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
  }
}

#login-choice {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.dash-refresh {
}

[data-role="page"] {
    background-image:url(/images/iot-bg.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    color:white;
    text-shadow:none;
}