doctype 5
html(lang="en")
	head
		link(type="text/css",href="/css/style.css",rel="stylesheet")
		title webinos widget runtime error - #{title}
		script(src='/js/jquery-1.7.2.min.js')
		script(type="text/javascript")
			$(function() {
			});
	body
		div.errorHeader= title
		div.errorStatus= status
		div.errorText= text
			
			