extends layout

block content
  | Center
  p
    a(href='http://layout.jquery-dev.net/demos.html') Go to the Demos page
  p * Pane-resizing is disabled because ui.draggable.js is not linked
  p * Pane-animation is disabled because ui.effects.js is not linked
